@font-face {
    font-family: ubunto;
    src: url('src/Ubuntu-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #202124;
    font-family: ubunto;
}

.container {
    width: 98%;
    padding: 1%;
}

.left-side {
    background-color: #303134;
    display: inline-block;
    width: 30%;
    margin: 0.5%;
    vertical-align: top;
    border-radius: 3px;
    border-radius: 3px;
}

.right-side {
    display: inline-block;
    width: 65%;
    margin: 0.5%;
    vertical-align: top;
    
    
}
hr{
    margin: 0 auto; 
    background-color: #808080;
    height: 1px;
    width: 92%;
}
i.fa{
    color: aqua;
}

.right-side section {
    background-color: #303134;
    margin-bottom: 2%;
    border-radius: 3px;
    padding: 25px;
}
.asside-items{
    padding: 30px;
    color: #fff;
}
.item-tittle{
margin-left: 5px;
color: rgb(248, 217, 220);
}
#profile-box{
    position: relative;

}
#profile-img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}
#profile-name {
    background-color: rgba(67, 64, 64, 0.4);
    color:#fff;
    text-align: center;
    padding: 2%;
    position: absolute;
    bottom: 2%;
    width: 96%;
    font-size: 21px;

}
#description-box{
    padding: 15px;
}
#description-box ul{
list-style: none;
}
#description-box ul li {
    margin: 15px;
}
#description-box ul li i.fa{
    color: aqua;
    font-size: 18px;
}
#description-box ul li span{
    font-size: 16px;
    color: #fff;
    margin-left: 10px;
    
}
#icccoop{
    width:115px;
    height:68px; 
     border: solid 1px #fff;
     background-color: #fff;
    border-radius: 5px;
    
}
#pasargad{
    width:115px;
    height:68px; 
     border: solid 1px #fff;
     background-color: #fff;
    border-radius: 5px;
    
}
#karafarin{
    border: solid 1px green;
    width:115px;
    height:68px;
    border-radius: 5px;

}
#alzahra{
    background-color: #fff;
    width:115px;
    height:68px; 
    border: solid 1px #fff;
    border-radius: 5px;
}
.skill-item{
    margin-top:15px;
}
.pb100 {
    width: 100%;
}
.pb80{
    width: 80%;
}
.pb90{
    width: 90%;
}
.pb70{
    width: 70%;
}

.progress-box{
    background-color: #eee;
    border-radius: 15px;
    width: 100%;
    text-align:center;
    margin-top: 15px;
    
}
.progress-box .progress-bar{
    background-color:rgb(27, 82, 32);
    padding: 2px;
    border-radius: 15px;
}
.head-tittle  {
    font-size: 32px;
    color: #fff;
}
.right-side-item{
    color: #fff;
}
.right-side-item h3,
.right-side-item h4{
    margin: 15px 0;
}
.right-side-item h3{
    color: rgb(248, 217, 220);
}
.right-side-item p {
    margin: 15px 0 30px;
}

footer {
    background-color: #333;
    width: 100%;
    height: 20px;
    text-align: center;
    padding: 20px 0;
    color: #fff;
}

footer a {
    color: #fff;
}
@media only screen and (max-width: 768px) {
    .left-side {
        background-color: #303134;
        display: block;
        width: 99%;
      
    }
    
    .right-side {
        display: block;
        width: 99%;
        
    }
}
    


